.card__line {
  margin-bottom: 20px;
}

.list__card {
  width: 193px;
  margin-left: 20px;
  background-color: white;
  border-radius: 5px;
}

.list__title {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.8rem;
  border-bottom: rgba(216, 208, 253, 0.377) solid 2px;
}

.list__element {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: rgba(216, 208, 253, 0.377) solid 2px;
}

.list__element:last-child {
  border: none;
}

.list__card__img {
  width: 3rem;
  height: 3rem;
  /* background-image: url(http://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/Domination/Electrocute/Electrocute.png); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card__inf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__last {
  clear: both;
  display: flex;
  word-break: break-all;
}
