* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  background-color: rgba(178, 199, 218, 0.9);
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  font-size: 0.75rem;
}

#katalk-header {
  height: 3.4%;
  position: sticky;
  background-color: #98abdf;
}

#navbar {
  background: rgba(178, 199, 218, 0.9);
  position: sticky;
  z-index: 999;
  padding: 20px;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__back,
.navbar__search,
.navbar__toggle {
  flex: 0, 0, 20px;
}

.navbar__title {
  flex-basis: 60%;
  font-weight: 900;
}
.navbar__back {
  display: flex;
  align-content: center;
  width: 20px;
  height: 20px;
}

.navbar__back > .arrow-icon {
  height: 100%;
  width: 100%;
  background: url("/image/right-arrow.svg") no-repeat;
  transform: rotate(-180deg);
}

.navbar__search {
  height: 20px;
  width: 20px;
}
.navbar__search > .search-icon {
  height: 100%;
  width: 20px;
  background: url("/image/search.svg") no-repeat;
  /* background-color: wheat; */
}

.navbar__toggle {
  cursor: pointer;
  /* background-color: white; */
  /* border: 5px solid red; */
}

.navbar__toggle > .bar {
  background-color: black;
  width: 20px;
  height: 2px;
  margin: 6px 0;
}

.chat__background {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.chat__line-right {
  clear: both;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  word-break: break-all;
}

.chat__line-left {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  word-break: break-all;
}

.chat__time {
  margin-top: auto;
  margin-bottom: 20px;
}

.chat__block__container-right {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.chat__block__container-left {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.chat__block__element-right {
  padding: 10px;
  background-color: #f7e600;
  border-radius: 5px;
  max-width: 256px;
  font-size: 0.8rem;
  margin-top: 5px;
  box-shadow: 1px 3px 5px #999;
}

.chat__block__element-left {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  max-width: 256px;
  font-size: 0.8rem;
  box-shadow: 1px 3px 5px #999;
}

.chat-bar {
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.952);
  background-size: cover;
}

.bar-size {
  height: 5.5%;
  width: 100%;
  padding: 20px;
  /* border: 5px solid red; */
}

.chat__container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.plus {
  height: 20px;
  width: 20px;
  background: url("/image/add.svg") no-repeat;
}

.chat__input-form {
  width: 100%;
  margin-left: 20px;
}

.chat__input-form ::placeholder {
  color: rgb(202, 202, 202);
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  font-weight: bold;
}

input[type="text"]:focus {
  outline: none;
}

.chat_position {
  background-color: white;
  background-size: cover;
  margin-top: auto;
}

.foot__container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  background-color: rgb(226, 226, 226);
}
