* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(178, 199, 218, 0.9);
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#katalk-header {
  height: 3.4%;
  position: sticky;
  background-color: #98abdf;
}

.bar-size {
  height: 5.5%;
  width: 100%;
  padding: 20px;
  /* border: 5px solid red; */
}
.chat-bar {
  margin-top: auto;
  background-color: rgba(255, 255, 255, 0.952);
  background-size: cover;
}

.chat__container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.plus {
  height: 20px;
  width: 20px;
  background: url("/image/add.svg") no-repeat;
}

.chat__input {
  margin-left: 20px;
}

.chat__input > p {
  color: rgb(202, 202, 202);
  font-weight: bold;
}

#navbar {
  background: rgba(178, 199, 218, 0.9);
  position: sticky;
  z-index: 999;
  padding: 20px;
  /* border: 5px solid forestgreen; */
}
.chat_position {
  background-color: white;
  background-size: cover;
  margin-top: auto;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot__container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__back,
.navbar__search,
.navbar__toggle {
  flex: 0, 0, 20px;
}

.navbar__title {
  flex-basis: 60%;
  font-weight: 900;
}
.navbar__back {
  display: flex;
  align-content: center;
  width: 20px;
  height: 20px;
}

.navbar__back > .arrow-icon {
  height: 100%;
  width: 100%;
  background: url("/image/right-arrow.svg") no-repeat;
  /* border: 5px solid brown; */
  transform: rotate(-180deg);
}

/* .navbar__title {
  background-color: cadetblue;
} */

.navbar__search {
  height: 20px;
  width: 20px;
}
.navbar__search > .search-icon {
  height: 100%;
  width: 20px;
  background: url("/image/search.svg") no-repeat;
  /* background-color: wheat; */
}

.navbar__toggle {
  cursor: pointer;
  /* background-color: white; */
  /* border: 5px solid red; */
}

.navbar__toggle > .bar {
  background-color: black;
  width: 20px;
  height: 2px;
  margin: 6px 0;
}

footer {
  background-color: rgb(226, 226, 226);
}
