* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgba(178, 199, 218, 0.9);
}
main {
  height: 100%;
  width: 100%;
}

#katalk-header {
  height: 3.4%;
  position: sticky;
  background-color: #98abdf;
}

#navbar {
  background: rgba(178, 199, 218, 0.9);
  height: 5.5%;
  position: sticky;
  z-index: 999;
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 20px;
  /* border: 5px solid forestgreen; */
}

.navbar__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__back,
.navbar__search,
.navbar__toggle {
  flex: 0, 0, 20px;
}

.navbar__title {
  flex-basis: 60%;
  font-weight: 900;
}
.navbar__back {
  display: flex;
  align-content: center;
  width: 20px;
  height: 20px;
}

.navbar__back > .arrow-icon {
  height: 100%;
  width: 100%;
  background: url("/image/right-arrow.svg") no-repeat;
  /* border: 5px solid brown; */
  transform: rotate(-180deg);
}

/* .navbar__title {
  background-color: cadetblue;
} */

.navbar__search {
  height: 20px;
  width: 20px;
}
.navbar__search > .search-icon {
  height: 100%;
  width: 20px;
  background: url("/image/search.svg") no-repeat;
  /* background-color: wheat; */
}

.navbar__toggle {
  cursor: pointer;
  /* background-color: white; */
  /* border: 5px solid red; */
}

.navbar__toggle > .bar {
  background-color: black;
  width: 20px;
  height: 3px;
  margin: 3px 0;
}
